*.log

wp-config.php
wp-content/backup-db/
wp-content/backups/
wp-content/languages/
wp-content/blogs.dir/
wp-content/cache/
wp-content/ai1wm-backups/
wp-content/plugins/hello.php
wp-content/plugins/wordpress-seo/js/dist/*.min.js
wp-content/plugins/wordpress-seo/frontend/schema/*.php
wp-content/plugins/bwp-minify/cache/*
wp-content/upgrade/
wp-content/uploads/
wp-content/ai1wm-backups/*
wp-content/tablepress*.css
wp-content/tablepress-custom.min.css
wp-content/tablepress-combined.min.css
wp-content/ewww/*
shrineapp/
wp-content/tablepress-*

dumps/
.idea/
.idea/workspace.xml

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

*.scssc
.vscode/settings.json
.vscode/launch.json
.DS_Store
wp-content/plugins/elastic-email-sender/api/error_log.php
wp-content/tablepress-custom.min.css
wp-content/updraft/log.*
wp-content/updraft/backup*

wp-content/themes/druponrinpoche/ultimate-member/email/
wp-content/uploads
