/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 3843 of style.scss

3838: 
3839: 
3840: 
3841: 
3842: 
3843: }

Backtrace:
style.scss:3843
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/scss/parser.rb:1163:in `expected'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/scss/parser.rb:1099:in `expected'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/scss/parser.rb:1094:in `tok!'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/scss/parser.rb:643:in `block'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/scss/parser.rb:660:in `block_child'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/scss/parser.rb:42:in `parse'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/engine.rb:393:in `_to_tree'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/sass_scss.rb:329:in `watch_or_update'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/base.rb:40:in `parse'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/base.rb:19:in `parse!'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/bin/scss:13:in `<top (required)>'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/scss:23:in `load'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/scss:23:in `<main>'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 3843 of style.scss\A \A 3838: \A 3839: \A 3840: \A 3841: \A 3842: \A 3843: }"; }
