/*
Error: Invalid US-ASCII character "\xC3"
        on line 12 of print.scss

7: 
8: /*--------------------------------------------------------------
9: >>> TABLE OF CONTENTS:
10: ----------------------------------------------------------------
11: # Margins
12: # Typography÷
13: # Page breaks
14: # Links
15: # Visibility
16: --------------------------------------------------------------*\/
17: 

Backtrace:
print.scss:12
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:1320:in `block in find_encoding_error'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:1319:in `each'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:1319:in `each_with_index'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:1319:in `find_encoding_error'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:896:in `check_sass_encoding'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/engine.rb:423:in `check_encoding!'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/engine.rb:379:in `_to_tree'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/sass_scss.rb:375:in `run'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/base.rb:40:in `parse'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/base.rb:19:in `parse!'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/bin/sass:13:in `<top (required)>'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xC3\"\A         on line 12 of print.scss\A \A 7: \A 8: /*--------------------------------------------------------------\A 9: >>> TABLE OF CONTENTS:\A 10: ----------------------------------------------------------------\A 11: # Margins\A 12: # Typography÷\A 13: # Page breaks\A 14: # Links\A 15: # Visibility\A 16: --------------------------------------------------------------*/\A 17: "; }
