/*
Error: Invalid US-ASCII character "\xE5"
        on line 21 of style.scss

16: 
17: /**  fonts  **\/
18: 
19: @font-face {
20:     font-family: 'SimSunDR';
21:     src: local('宋体'),
22:     local('SimSun');
23:     font-weight: normal;
24:     font-style: normal;
25: }
26: 

Backtrace:
style.scss:21
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:1320:in `block in find_encoding_error'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:1319:in `each'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:1319:in `each_with_index'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:1319:in `find_encoding_error'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/util.rb:896:in `check_sass_encoding'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/engine.rb:423:in `check_encoding!'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/engine.rb:379:in `_to_tree'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/sass_scss.rb:375:in `run'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/base.rb:40:in `parse'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/lib/sass/exec/base.rb:19:in `parse!'
/Users/Reedz/.rvm/gems/ruby-2.1.1@global/gems/sass-3.4.4/bin/sass:13:in `<top (required)>'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Reedz/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE5\"\A         on line 21 of style.scss\A \A 16: \A 17: /**  fonts  **/\A 18: \A 19: @font-face {\A 20:     font-family: 'SimSunDR';\A 21:     src: local('宋体'),\A 22:     local('SimSun');\A 23:     font-weight: normal;\A 24:     font-style: normal;\A 25: }\A 26: "; }
